body {
  padding-block: 40px 269px;
  background-image: none;
  background-image: url("https://fm-equalizer-landing.davequah.com/assets/bg-main-tablet.png");
  background-position: right -150px top -260px;
  background-size: 900px, auto;
  min-width: 300px;
}
body .logo-equalizer img {
  margin-inline: 24px;
}
main .Principal-contain {
  margin-top: 58px;
  margin-inline: 24px;
}
.intro-contain h1 {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.45px;
  max-width: 300px;
}
main .parrafo-principal {
  margin-top: 24px;
  font-size: 16px;
  max-width: 457px;
  line-height: 26px;
}
main .fondo-decoration {
  margin-inline: 0px;
  background-position: left 50% top 0%;
  top: 55.2px;
}
main img {
  height: 430px;
  top: -98px;
  margin-inline: auto;
}
main .advertisement {
  top: -50px;
  width: 100%;
  height: 0%;
  margin-inline: 0px;
  padding: 48px 36px;
}
main div .cuatro {
  margin-block: 49px -1px;
}
main button {
  max-width: 333px;
}
main .button-primary {
  margin-top: 45px;
}
main button img {
  width: 24px;
}
.contain-footer {
  top: 252px;
  margin-inline: 24px;
}
.footer-division {
  grid-template-rows: 1fr 25%;
  grid-template-columns: none;
}
.footer-right {
  justify-self: start;
  margin-left: 10px;
  top: 15px;
}
